.section-block--gallery {
    
    .gallery-subnav {
        background: transparent;
        border-top: 1px solid #e0e5e9;
        margin-bottom: 35px;
        display: none;
        @include respond-min($bp-medium) {
            display: block;
        }
       
       .subnav__title {
           background: transparent;
       }
       .subnav__link {
           background: transparent;
           cursor: pointer;
           
           display: none;
           
            @include respond-min($bp-medium) {
                min-width: 90px;
                display: inline-block;
            }
            @include respond-min($bp-large) {
                min-width: 120px;
            }
            
            
            
            &.gallery-selected {
                display: none;      
            }
            
            
       }


    }
 



    .mobile__gallery-subnav {
        background: transparent;
        border-top: 1px solid #e0e5e9;
        background: #ebedf0;
        padding: 20px;
        margin-bottom: 35px;
        
        @include respond-min($bp-medium) {
            display: none;
        }        


       .row {
            background: #fff;
       }       
       .mobile__subnav__title {
           background: transparent;
           vertical-align: middle;
           padding: 20px 15px;           
           cursor: pointer;
       }
       
       .mobile__subnav__title:after {
            border: solid transparent;
            content: " ";
            font-size: 0px;
            line-height: 0px;
            height: 0;
            width: 0;
            pointer-events: none;
            border-left-color: #ddd;
            border-width: 10px;
            vertical-align: middle;            
            float: right;
            margin-top: 3px;
       }
       
       .mobile__subnav__title.itsOpen {
            font-weight: bold;
       }
        .mobile__subnav__title.itsOpen:after {
            border-left-color: transparent;
            border-top-color: #ddd;            
            margin-top: 10px;
       }      
       
       
       .mobile__subnav__link {
           background: transparent;
           cursor: pointer;
           border-top: 1px solid #e0e5e9;
           padding: 20px 20px;
           
           display: none;
           
            @include respond-min($bp-medium) {
                min-width: 90px;
                display: inline-block;
            }
            @include respond-min($bp-large) {
                min-width: 120px;
            }
       }



    }



 
    
}