//------------------------------------*\
//    $LISTS
//------------------------------------*/

ul, 
ol {
	@include m-rem(margin, 0, 0, 1);
	@include m-rem(padding, 0, 0, 0, 1);
}

ul ul, 
ol ol {
	margin: 0;
}

li {
	margin: 0;
	padding: 0;
}
