//------------------------------------*\
//    $TYPOGRAPHY
//------------------------------------*/

.font-primary {
	font-family: "proxima-nova-n4", "proxima-nova",sans-serif;
}

.font-secondary {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.font-bold {
	font-weight: 700;
}

hr {
  border-top-color: #dddddd;
  margin: 0;
}