/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

//***** Begin Theme, feel free to edit in here! ******

// One container to bind them...
.dk_container {
  margin-bottom: 24px;
  width: 100%;
  height: 51px;
  background-color: $color-light-grey;
  font-size: 15px;
  border-radius: 1px;

  @include respond-min($bp-medium) {
    margin: 0;
  }
  
  &:focus {
    outline: 0;
  }
  &[disabled] {
    opacity:.4;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
  &[disabled] a {
    cursor: not-allowed;
  }
}

// Opens the dropdown and holds the menu label
.dk_toggle {
  width: 100% !important;
  height: 100%;
  display: block;
  border: 1px solid #fff;
  color: #34495E;
  padding: 13px 10px;
  border-radius: 1px;
  position: relative;
  &:hover, &:focus {
  }
  &:after{
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #7c858a;
  }
}
// Applied when the dropdown is focused
.dk_focus{
  .dk_toggle {

  }
}

// Applied whenever the dropdown is open
.dk_open {
  //* Help: Dropdown menu is covered by something
  //* Try setting this value higher
  z-index: 10;
  .dk_toggle {
  }
}

// Applied whenever the dropdown is open at the top
.dk_open_top {
  .dk_toggle {
  }
  .dk_options, .dk_options_inner {
  }
}

//* The outer container of the options
.dk_options {
  background: $color-light-grey; // Removes transparent background on iOS5+ scroll
  a {
    background-color: #fff;
    padding: 0px 10px;
    font-size: 13px;
  }
  a:hover, &:focus,
  .dk_option_current a {
    background-color: #0084c7;
    border-bottom-color: #004c72;
    color: #fff;
    text-decoration: none;
  }
  li {
    margin: 0 !important;
  }
  li:last-child a {
    border-bottom: none;
  }
  .disabled {
    cursor: default;
    a {
      color: #aaa;
    }
    &:hover, &:hover a,
    &:focus, &:focus a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #999;
      text-shadow: none;
    }
  }
}

// Inner container for options, this is what makes the scrollbar possible.
.dk_options_inner {
  padding: 0 !important;
  max-height: 250px;
  border: 1px solid #999;

  li {
    margin-bottom: 0;
    font-size: 15px;
  }
}

//******  End Theme ******

//***** Critical to the continued enjoyment of working dropdowns ******

.dk_container {
  display: none;
  float: left;
  a {
    outline: 0;
  }
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  a, a:link, a:visited{
    display: block;
  }
  .dk_optgroup {
    > span {
    
    }
  }
}

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}


// Hides only dropkick <select> instances
.dk_container select {
  position: absolute;
  visibility: hidden;
}

//  nativeMobile override 
.dk_mobile {
  position: relative;
  select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    visibility: visible;
    opacity: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}

//***** End Critical to the continued enjoyment of working dropdowns ******
