//
// Forms
// --------------------------------------------------

.form__container {
    position: relative;
    margin-bottom: 1em;
}

.form__control {
    padding: 8px 12px;
    display: block;
    font-family: $global-font-family;
    line-height: $base-line-height;
    vertical-align: middle;
    background-image: none;
    border-radius: 0;
    -webkit-box-shadow: none;
        box-shadow: none;
    -moz-transition: border .25s linear, color .25s linear, background-color .25s linear;   
      -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
        transition: border .25s linear, color .25s linear, background-color .25s linear;
}

input.form__control {
  height: 45px;
}



.form__container.focus .form__control, 
.form__control:focus {
    border-color: #000;
    outline: 0;
    -webkit-box-shadow: none;
        box-shadow: none;
}

.label-input {
    margin-bottom: 1em;
    display: block;
}


input[type="checkbox"], input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

/* radio buttons and checkboxes */

.checkbox, 
.radio {
    margin: 4px 0;
    padding-left: 37px;
    display: block;
    min-height: 20px;
    position: relative;
    vertical-align: middle;
}

.no-touch .checkbox:hover, 
.no-touch .radio:hover {
    color: #000;
}

/*
.checkbox.checked {
    color: $color-primary;
}
*/

.checkbox input, 
.radio input {
    outline: none !important;
    display: none;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: 10px;
}

// icons 

.checkbox .icons .first-icon, .radio .icons .first-icon, 
.checkbox .icons .second-icon, .radio .icons .second-icon {
    display: inline-table;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ccc;
    margin: 0;
    opacity: 1;
    filter: alpha(opacity=100);
}

.checkbox.checked .first-icon, 
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox .icons .second-icon, 
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox.checked .second-icon, 
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #7c858a;
}

.checkbox.disabled, 
.radio.disabled {
    cursor: default;
    color: #E6E8EA;
}


.checkbox .icons, 
.radio .icons {
    color: #fff;
    cursor: pointer;
    display: block;
    height: 27px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 27px;
    text-align: center;
    line-height: 28px;
    font-size: 27px;
}

  .checkbox.disabled .icons, 
  .radio.disabled .icons {
      color: #E6E8EA;
  }

  .checkbox.disabled .first-icon, 
  .radio.disabled .first-icon {
      opacity: 1;
      filter: alpha(opacity=100);
  }

  .checkbox.disabled.checked .icons, 
  .radio.disabled.checked .icons {
      color: #E6E8EA;
  }

  .checkbox.disabled.checked .first-icon, 
  .radio.disabled.checked .first-icon {
      opacity: 0;
      filter: alpha(opacity=0);
  }

  .checkbox.disabled.checked .second-icon, 
  .radio.disabled.checked .second-icon {
      opacity: 1;
      filter: alpha(opacity=100);
      color: #E6E8EA;
  }

.checkbox:hover,
.radio:hover {
    //-webkit-transition: color 0.25s linear;
    //transition: color 0.25s linear;
}




// Form Validation

.has-error {
  .form__control {
    color: #ff0000 !important;
    background-color: #ffe5e5 !important;
    border-color: #ff0000 !important;
  }

  label {
    color: #ff0000 !important;
  }
}

.has-success {
  .form__control {
    color: #2ECC71 !important;
    border-color: #2ECC71 !important;
  }

  label {
    color: #2ECC71 !important;
  }
}


.form__control[disabled], 
.form__control[readonly], 
fieldset[disabled] .form__control {
    background-color: #F4F6F6;
    border-color: #D5DBDB;
    color: #D5DBDB;
    cursor: default;
}








