.subnav {
	@include respond-min($bp-medium) {
		background-color: #f5f7fa;
		border-bottom: 1px solid #e0e5e9;
	}
}

.subnav .l-inner {
	@include respond-min($bp-large) {
		padding-left: 60px;
		padding-right: 60px;
	}
}


.subnav__title {
	padding: 22px 20px 23px;
	margin-left: -20px;
	margin-right: -20px;
	border-bottom: 1px solid #e0e5e9;
	font-size: 13.5px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;

	@include respond-min($bp-medium) {
		margin-left: 0;
		margin-right: 0;
		padding: 26px 20px 23px 0;
		min-width: 178px;
		display: inline-block;
		background-color: #f5f7fa;
		border-bottom: none;
	}

	@include respond-min($bp-large) {
		min-width: 205px;
	}
}

.subnav__link {
	margin-left: -20px;
	margin-right: -20px;
	@include respond-min($bp-medium) {
		margin-left: 0;
		margin-right: 0;
		paddding-right: 25px;
		display: inline-block;
		min-width: 145px; // this value will probably need to change in phase II, when we add more links to the Amenities page
	}
}

.subnav__link a {
	padding: 19px 20px;
	background-color: #f5f7fa;
	border-bottom: 1px solid #e0e5e9;
	color: #4e5457;
	cursor: pointer;
	display: block;
	font-size: 14px;
	line-height: 1;

	@include respond-min($bp-medium) {
		padding: 26px 20px 23px 0;
		border-bottom: none;
	}
}

.subnav__backtotop {
	cursor: pointer;
	padding: 15px 0;
	border-top: 1px solid #e0e5e9;
	border-bottom: 1px solid #e0e5e9;
	font-size: 15px;

	a {
		color: #4E5457;
	}

	@include respond-min($bp-medium) {
		//display: none;
		border-top: none;
		border-bottom: none;
	}
	@include respond-min($bp-large) {
		margin-top: 30px;
		padding: 0;
	}
}

.subnav .icons--arrow-down:after,
.subnav__backtotop .icons--arrow-up:after {
	float: right;
	@include respond-min($bp-medium) {
		float: none;
	}
}


